<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add an Album</title>
</head>
<body>
<form method="POST" action="/albums">
    <label for="title">Album title:</label><input name="title" id="title"/>
    <label for="artist">Album Artist:</label><input name="artist" id="artist" />
    <label for="songCount">Album Song Count:</label><input type="number" name="songCount" id="songCount" />
    <label for="length">Album Length:</label><input type="number" name="length" id="length" />
    <label for="imageUrl">Album Art Link:</label><input name="imageUrl" id="imageUrl" />
    <input type="submit" />
</form>

</body>
</html>